@font-face {
    font-family: 'NorseBold';
    src: url('fonts/NorseBold.eot');
    src: url('fonts/NorseBold.eot') format('embedded-opentype'),
        url('fonts/NorseBold.woff2') format('woff2'),
        url('fonts/NorseBold.woff') format('woff'),
        url('fonts/NorseBold.ttf') format('truetype'),
        url('fonts/NorseBold.svg#NorseBold') format('svg');
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}


body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 33vw;
    height: 100vh;
    background-image: url(./img/halie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .logo-holder {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    height: 80%;
    width: auto;
}

.logo-name{
    color: white;
    font-family: 'NorseBold', sans-serif;
    font-size: 6em;
}

.main {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10vh;
}

.main .quote{
    font-weight: bold;
    font-size: 1.1rem;
    height: auto;
}

.emphasis{
    padding-top: 1.15rem;
}