@font-face {
    font-family: 'NorseBold';
    src: url('fonts/NorseBold.eot');
    src: url('fonts/NorseBold.eot') format('embedded-opentype'),
        url('fonts/NorseBold.woff2') format('woff2'),
        url('fonts/NorseBold.woff') format('woff'),
        url('fonts/NorseBold.ttf') format('truetype'),
        url('fonts/NorseBold.svg#NorseBold') format('svg');
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}


body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
 .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
 }   
    
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 40vw;
    height: 100vh;
    background-image: url(./img/halie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-holder {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 60vh;
}

.logo{
    height: 80%;
    width: auto;
}

.logo-name{
    color: white;
    font-family: 'NorseBold', sans-serif;
    font-size: 6em;
}

.credits{
    color: white;
}

.credits a{
    color: white;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.main .quote{
    padding: 0 35px;
    margin-top: 20vh;
    font-weight: bold;
    font-size: 1.2rem;
    height: auto;
    max-width: 850px;
    margin-bottom: 5.15vh;
    text-align: justify;
}

.emphasis{
    padding-top: 1.15rem;
}

.main-form{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 72vw;
    padding: 40px 35px;
}

h1{
    font-size: 1.3rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10%;    
}

.row + .row {
    margin-top: 15px;
}

.inputholder{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input{
    width: 250px;
    background-color: whitesmoke;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: bold;
    font-size: 1rem;
}

.output-form{
    padding: 40px 35px;
}

button{
    width: 200px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.output-form p{
    color: black;
}

.output-form p a{
    color: #596D48;
    text-decoration: none;
}